* {
	/*margin : 0;
	padding : 0;*/
	font-family : Arial;
}

body {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	margin: 0;
	padding: 0;
	background-color: #202020;
	width : 100%;
	height : auto;
}

h1 {
	margin: 4px 0;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 8px rgba(0,0,0,0.4);
}
h2 {
	margin: 4px 0;
	padding: 0 0 0 4px;
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
	text-shadow: 0 1px 0 #ddd;
}

canvas {
	position : absolute;
	top : 0;
	left : 250px;
}

/*	Left panel	*/
#leftpanel {
	position : absolute;
	top : 0;
	left : 0;
	bottom : 200px;
	width : 250px;
	background-color : #ddd;
	overflow : hidden;
}

#leftpanel #properties input[type='text'],
#leftpanel #comp-properties input[type='text'] {
	width : 50px;
}

#leftpanel #properties input[type='range'] {
	width : 100px;
}

#leftpanel #properties h2.title {
	float : left;
	width : 45%;

}

#leftpanel #properties h2.name {
	float : right;
	color : #333;
}

#leftpanel #properties #animatorProperties,
#leftpanel #properties #particlesProperties {
	clear : both;
	display : none;
	height : 500px;
	overflow : auto;
}

#leftpanel #properties #particlesProperties {
	display : block;
}

#leftpanel>div {
	margin: 0 4px;
	padding: 4px 0;
	border-top: 1px dotted #000;
}
#leftpanel label {
	width: 80px;
	display: inline-block;
}
#leftpanel .reset {
	width: 20px;
	padding: 0;
	color: #888;
	text-shadow: 0 1px #fff;
}
#leftpanel .reset:hover {
	color: #000;
}

/*	Right panel	*/
#rightpanel {
	position : absolute;
	top : 0;
	right : 0;
	bottom : 200px;
	width : 250px;
	background-color : #ddd;
	overflow : hidden;
}

#rightpanel #spritesheets {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	bottom : 50px;
	overflow : auto;
}

#rightpanel #spritesheets .sprite {
	float : left;
	margin : 0 0 1px 1px;
}

#rightpanel #spritesheets .sprite:nth-child(odd) {
	background-color: #606;
}
#rightpanel #spritesheets .sprite:nth-child(even) {
	background-color: #a0a;
}

#rightpanel #uploadform {
	position : absolute;
	left : 0;
	right : 0;
	bottom : 0;
	height : 50px;
}

#rightpanel #uploadform input[type='text'] {
	width : 50px;
}

/*	Timeline	*/
#timeline {
	position : absolute;
	left : 0;
	right : 0;
	bottom : 0;
	height : 200px;
	background-color : #ddd;
	border-top : 1px solid black;
	overflow : hidden;
}

#timeline div.listing {
	position : absolute;
	top : 0;
	left : 0;
	bottom : 0;
	width : 250px;
	border-right : 1px solid black;
}

#timeline div.listing div.buttons {
	border-bottom : 1px solid black;
}

#timeline div.listing div.animator div.name {
	position : relative;
}

#timeline div.listing div.animator div.name {
	position : relative;
	padding-left : 5px;
	border-bottom : 1px solid black;
}

#timeline div.listing div.animator div.name:hover {
	cursor : pointer;
}

#timeline div.listing div.animator.selected div.name {
	color : #EEEEEE;
	background : #666666;
}

#timeline div.timeline div.timeline-frame div.indicator {
	position : absolute;
	left : -4px;
	color : red;
	font-size : 18px;
	font-weight : bold;
}

#timeline div.timeline {
	position : absolute;
	top : 0;
	left : 250px;
	right : 0;
	bottom : 0;
	overflow : auto;
}

#timeline div.timeline div.timeline-cursor {
	position : absolute;
	top : 0;
	bottom : 0;
	border-right : 1px solid #CC3333;
	width : 1px;
}

#timeline div.timeline div.timeline-frame {
	position : absolute;
	top : 0;
	bottom : 0;
	border-right : 1px solid #999999;
	width : 1px;
}

#popin {
	text-decoration : none;
	color : white;
}

#popin.load {
	position : absolute;
	top : 50%;
	left : 50%;
	width : 300px;
	height : 400px;
	margin-top : -300px;
	margin-left : -150px;
	background-color : black;
	z-index : 10;
	display : none;
	overflow : auto;
}

#popin.load ul {
	margin : 0;
	padding : 0;
	list-style-type : none;
	cursor : pointer;
}

#popin.load ul li {
	font-size : 24px;
	margin : 10px 10px 0px 10px;
	color : #ddd;
}

#popin.load ul li:hover {
	color : white;
}

#popin.export {
	position : absolute;
	top : 50%;
	left : 50%;
	width : 300px;
	height : 100px;
	margin-top : -150px;
	margin-left : -150px;
	background-color : black;
	z-index : 10;
	display : none;
}

#popin.export p {
	position : relative;
	width : 280;
	margin : 30px auto;
	font-size : 24px;
	text-align : center;
}